<div id="download--section" class="text-center">
  <div class="container">
    <div>
      <a id="btn--download--appstore" href="https://itunes.apple.com/gb/app/e-nyelam/id1383679128?mt=8">
        <img src="/images/btn-appstore.png">
      </a>
      <a id="btn--download--playstore" href="https://play.google.com/store/apps/details?id=com.nyelam.android">
        <img src="/images/btn-playstore.png">
      </a>
      <img src="{{ site.baseurl }}images/phone-template-2.png">
    </div>
  </div>
</div>
