<!-- Start .faq-section -->
		<div class="faq-section">
			<div class="container">
				<div class="section-head">
					<div class="row text-center">
						<div class="col-md-12">
							<h4><span>Have </span>Questions ?</h4>
							<p class="lead">we got you covered with your questions</p>
						</div>
					</div>
				</div><!-- .section-head -->
				<div class="faq-list">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-xs-12 faq-item">
							<div class="single-faq">
								<h6>Is flight tickets included? and what is included?</h6>
								<p>We offer the diving services throughout Indonesia including diving services, meals, snack, towel, and pick up transportation. For several trips, you could also find the services that include accommodation and hotels. In terms of the flight ticket, we are not able to provide it. You must book your own flight ticket from your location to the diving trip destinations. However, you may discuss with us just in case you need further information about the flight route or other circumstances. Please contact our customer service for more detail.</p>
							</div>
						</div><!-- .col -->
						<div class="col-lg-4 col-md-6 col-xs-12 faq-item">
							<div class="single-faq">
								<h6>Is your service safe for transaction especially credit card payment?</h6>
								<p>YES! We are using state of the art third party payment gateway, so we so not store your credit card information for us, or anyone. We guarantee.</p>
							</div>
						</div><!-- .col -->
						<div class="col-lg-4 col-md-6 col-xs-12 faq-item">
							<div class="single-faq">
								<h6>Is it necessary to have a diving license?</h6>
								<p>For certain diving services, YES! However, some services do not require diving license or previous diving experiences, such as snorkelling and liveaboard. And oh yeah, you can get your diving license on e-nyelam too.</p>
							</div>
						</div><!-- .col -->
						<div class="col-lg-4 col-md-6 col-xs-12 faq-item">
							<div class="single-faq">
								<h6>Is it group buying trip? Can i travel alone?</h6>
								<p>Unfortunately, No. We give a personal experience so that you are able to arrange and book your trip by yourself. However, you will meet new friends on the spot so you do not need to worry. Either single or group trip, we provide you the same experience. It would be amazing, however, we think some services is better to take by group.</p>
							</div>
						</div><!-- .col -->
						<div class="col-lg-4 col-md-6 col-xs-12 faq-item">
							<div class="single-faq">
								<h6>How dive center join to e-nyelam?</h6>
								<p>It is easy! Just contact our customer sercvice directly using this link, or send you request to us by email: info@e-nyelam.com</p>
							</div>
						</div><!-- .col -->
						<div class="col-lg-4 col-md-6 col-xs-12 faq-item">
							<div class="single-faq">
								<h6>Any recomendation dive spot in Indonesia for first time traveler? Is it Bali?</h6>
								<p>PLENTY!! C’mon, it’s Indonesia; a country with thousands of big and small islands. Ye we know diving in Bali, Komodo or Raja Ampat are the famous of all for entry level underwater activities.</p><p> It would take ages to read the books if you want to know them all, however, we compile it to you in <a href="">this article</a>. So, see you in deep down!</p>
							</div>
						</div><!-- .col -->
					</div><!-- .row -->
				</div><!-- .faq-list -->
			</div><!-- .container -->
		</div><!-- .faq-section -->
