<!-- Start .footer-section -->
		<div class="footer-section">
			<div class="container">
				<div class="row">			
					<div class="col-md-4 col-sm-12">
						<div class="footer-address">
							<h6 class="fa-title">Location of our office’s</h6>
							<div class="address-list">
								<div class="row">
									<div class="col-xs-12">
										<div class="single-address">
											<h6>Jakarta HQ</h6>
											<ul>
												<li>Jl K.18, Kb. Baru, Tebet</li>
												<li>Jakarta Selatan, DKI Jakarta </li>
												<li>(+62)21 2854 1245 </li>
											</ul>
											<a href="#">Locate on map<i class="icofont icofont-long-arrow-right"></i></a>
										</div>
									</div>
									<!--<div class="col-md-3 col-sm-6">
										<div class="single-address">
											<h6>Bali</h6>
											<ul>
												<li>4529 West 119th Strt</li>
												<li>Leawood, KS 66209 </li>
												<li>(913) 234-9800</li>
											</ul>
											<a href="#">Locate on map<i class="icofont icofont-long-arrow-right"></i></a>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="single-address">
											<h6>Komodo</h6>
											<ul>
												<li>3401 Nicholasville Ro </li>
												<li>Lexington, KY 40503</li>
												<li>(859) 971-5400</li>
											</ul>
											<a href="#">Locate on map<i class="icofont icofont-long-arrow-right"></i></a>
										</div>
									</div>
									<div class="col-md-3 col-sm-6">
										<div class="single-address">
											<h6>Raja Ampat</h6>
											<ul>
												<li>61 St. James Place </li>
												<li>Ardmore, PA 19003</li>
												<li>(610) 726-9400</li>
											</ul>
											<a href="#">Locate on map<i class="icofont icofont-long-arrow-right"></i></a>
										</div>
									</div> -->
								</div><!-- .row -->
							</div><!-- .address-list -->
						</div><!-- .footer-address -->
					</div><!-- .col -->
					
					<div class="col-md-8 col-sm-12 hidden-xs">
						<div class="footer-about">
							<span class="copyright-text">All right resarved by <a href="https://themeforest.net/user/bestpixels/portfolio">PT Wimiku Indo Digital</a></span>
							<ul class="footer-links">
								<li><a href="/eco-trip-pulau-harapan.html">ECO Trip</a></li>
								<li><a href="/scuba-diving-indonesia.html">Dive Journal</a></li>
								<li><a href="/scuba-diving-indonesia.html">Dive Review</a></li>
							</ul>
						</div><!-- .footer-about -->
					</div><!-- .col -->
					
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- Start .footer-section -->
