<!-- Start .header-section -->
		<div class="header-section parallax" id="header">
			<div class="overlay zero">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-xs-12">
							<div class="header-texts">
								<h4>$85/<small> per person </small></h4>
								<h3>Affordable Diving Experience in</h3>
								<h1>Bali, Komodo and All Around Indonesia</h1>
								<a href="#" class="button">Book your trip now</a>
							</div>
						</div><!-- .col -->
						<div class="col-md-1 hidden-xs"></div><!-- .col -->
						<div class="col-md-5 hidden-xs">
							<div class="header-video">
								<iframe width="100%" height="250" src="https://www.youtube.com/embed/VVVlauWBwG0?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
								<a href="https://www.youtube.com/watch?v=VVVlauWBwG0" data-effect="mfp-3d-unfold" class="play-button embaded-popup">
									<span class="pb-border-1">
										<span class="pb-border-2">
											<i class="icofont icofont-ui-play"></i>
										</span>
									</span>
								</a><!-- .play-button -->
							</div>
						</div><!-- .col -->
					</div><!-- .row -->
				</div><!-- .container -->
			</div><!-- .overlay -->
		</div><!-- .header-section -->
