    		<!-- Start .process-section -->
		<div class="process-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="single-process">
							<i class="icofont icofont-map-pins"></i>
							<h6>Select dive spot</h6>
							<p>At first choose the place you always wanted to go.</p>
						</div>
					</div><!-- .col -->
					<div class="col-md-4 col-sm-6">
						<div class="single-process">
							<i class="icofont icofont-plane-ticket"></i>
							<h6>Book your trip</h6>
							<p>CHAT with us, then book your trip from our exclusive offers.</p>
						</div>
					</div><!-- .col -->
					<div class="col-md-4 col-sm-6">
						<div class="single-process">
							<i class="icofont icofont-animal-fish-alt-4"></i>
							<h6>Dive right in</h6>
							<p>Take your flight and enjoy paradise on earth.</p>
						</div>
					</div><!-- .col -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .process-section -->		
		
		{% include deals.html %}

		{% include offer.html %}
