    <!-- Start .offer-section -->
		<div class="offer-section">
			<div class="download-box">
				<img src="/images/phone-template-1.png"  />
				<a id="btn--download--appstore" href="https://itunes.apple.com/gb/app/e-nyelam/id1383679128?mt=8"><img src="/images/btn-appstore.png" /></a>
				<a id="btn--download--playstore" href="https://play.google.com/store/apps/details?id=com.nyelam.android"><img src="/images/btn-playstore.png" /></a>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="offer-image">
							<img src="/images/open-trip-pulau-harapan.jpg" alt="deals" />
							<h1>$119</h1>
						</div>
					</div><!-- .col -->
					<div class="col-md-6">
						<div class="offer-texts">
							<h6>Voluntary program</h6>
							<h4>$65 for 2 days 1 night</h4>
							<h3>HARAPAN ISLAND</h3>
							<p class="lead">Save our ocean, conserving the island while taking a dose of vitamin sea.</p>
							<ul class="clearfix">
								<li>Island hoping</li>
								<li>Diving</li>
								<li>Snorkeling</li>
								<li>Eco brick training</li>
								<li>Visiting waste bank</li>
								<li>Plastic ocean screening</li>
								<li>Turtle conservation</li>
								<li>Sunrise and sunset hunting</li>
							</ul>
							<a href="#" class="button sm">JOIN PROGRAM</a>
						</div>
					</div><!-- .col -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .offer-section -->
