<!-- Start .partners-section -->
		<div class="partners-section">
			<div class="container">
				<div class="section-head">
					<div class="row text-center">
						<div class="col-md-12">
							<h4><span>Our </span>Partners</h4>
							<p class="lead">lets introduce with our partners</p>
						</div>
					</div>
				</div><!-- .section-head -->
				<div class="row text-center">
					<div class="col-md-3 col-sm-3">
						<div class="single-partner">
							<a href="#"><img src="images/partners/1.png" alt="partners" /></a>
						</div>
					</div><!-- .col -->
					<div class="col-md-3 col-sm-3">
						<div class="single-partner">
							<a href="#"><img src="images/partners/2.png" alt="partners" /></a>
						</div>
					</div><!-- .col -->
					<div class="col-md-3 col-sm-3">
						<div class="single-partner">
							<a href="#"><img src="images/partners/3.png" alt="partners" /></a>
						</div>
					</div><!-- .col -->
					<div class="col-md-3 col-sm-3">
						<div class="single-partner">
							<a href="#"><img src="images/partners/4.png" alt="partners" /></a>
						</div>
					</div><!-- .col -->
				</div><!-- .row -->
				<div class="row text-center">
					<div class="col-md-1"></div><!-- .col -->
					<div class="col-md-10">
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<div class="single-partner">
									<a href="#"><img src="images/partners/5.png" alt="partners" /></a>
								</div>
							</div><!-- .col -->
							<div class="col-md-4 col-sm-4">
								<div class="single-partner">
									<a href="#"><img src="images/partners/6.png" alt="partners" /></a>
								</div>
							</div><!-- .col -->
							<div class="col-md-4 col-sm-4">
								<div class="single-partner">
									<a href="#"><img src="images/partners/7.png" alt="partners" /></a>
								</div>
							</div><!-- .col -->
						</div><!-- .row -->
					</div><!-- .col -->
					<div class="col-md-1"></div><!-- .col -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .partners-section -->
