    <!-- Start .deals-section -->
		<div class="deals-section alt-bg" id="hotdeal">
			<div class="container">
				<div class="deals-list">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="single-deal">
								<div class="sDeal-top">
									<img src="images/deals/1.jpg" alt="deals" />
									<ul>
										<li>3 dives</li>
										<li>komodo dragon sightseeing</li>
									</ul>
									<div class="sDeal-action">
										<h5>$100</h5>
										<h4>$85</h4>
										<a href="https://api.whatsapp.com/send?phone=6281285774100&text=Ill%20take%20Komodo%20deal" class="button sm">Get offer</a>
									</div>
								</div>
								<div class="sDeal-bottom">
									<h6><span>1 day activity</span>Tatawa, Komodo Island</h6>
								</div>
							</div>
						</div><!-- .col -->
						<div class="col-md-4 col-sm-6">
							<div class="single-deal">
								<div class="sDeal-top">
									<img src="images/deals/3.jpg" alt="deals" />
									<ul>
										<li>3 dives</li>
										<li>meals and local transport included</li>
									</ul>
									<div class="sDeal-action">
										<h5>$80.00</h5>
										<h4>$69.00</h4>
										<a href="https://api.whatsapp.com/send?phone=6281285774100&text=Ill%20take%20Rajampat%20deal" class="button sm">Get offer</a>
									</div>
								</div>
								<div class="sDeal-bottom">
									<h6><span>1 day activity</span>Raja Ampat, West Papua</h6>
								</div>
							</div>
						</div><!-- .col -->
						<div class="col-md-4 col-sm-6">
							<div class="single-deal">
								<div class="sDeal-top">
									<img src="images/deals/2.jpg" alt="deals" />
									<ul>
										<li>2 dives</li>
										<li>meals and local transport included</li>
									</ul>
									<div class="sDeal-action">
										<h5>$100.00</h5>
										<h4>$55.00</h4>
										<a href="https://api.whatsapp.com/send?phone=6281285774100&text=Ill%20take%20Bali%20deal" class="button sm">Get offer</a>
									</div>
								</div>
								<div class="sDeal-bottom">
									<h6><span>1 day activity</span>Tulamben, Bali</h6>
								</div>
							</div>
						</div><!-- .col -->
            <div class="col-md-4 col-sm-6">
							<div class="single-deal">
								<div class="sDeal-top">
									<img src="images/deals/2.jpg" alt="deals" />
									<ul>
										<li>2 dives</li>
										<li>meals and local transport included</li>
									</ul>
									<div class="sDeal-action">
										<h5>$100.00</h5>
										<h4>$55.00</h4>
										<a href="https://api.whatsapp.com/send?phone=6281285774100&text=Ill%20take%20Bali%20deal" class="button sm">Get offer</a>
									</div>
								</div>
								<div class="sDeal-bottom">
									<h6><span>1 day activity</span>Tulamben, Bali</h6>
								</div>
							</div>
						</div><!-- .col -->
            <div class="col-md-4 col-sm-6">
							<div class="single-deal">
								<div class="sDeal-top">
									<img src="images/deals/2.jpg" alt="deals" />
									<ul>
										<li>2 dives</li>
										<li>meals and local transport included</li>
									</ul>
									<div class="sDeal-action">
										<h5>$100.00</h5>
										<h4>$55.00</h4>
										<a href="https://api.whatsapp.com/send?phone=6281285774100&text=Ill%20take%20Bali%20deal" class="button sm">Get offer</a>
									</div>
								</div>
								<div class="sDeal-bottom">
									<h6><span>1 day activity</span>Tulamben, Bali</h6>
								</div>
							</div>
						</div><!-- .col -->
            <div class="col-md-4 col-sm-6">
							<div class="single-deal">
								<div class="sDeal-top">
									<img src="images/deals/2.jpg" alt="deals" />
									<ul>
										<li>2 dives</li>
										<li>meals and local transport included</li>
									</ul>
									<div class="sDeal-action">
										<h5>$100.00</h5>
										<h4>$55.00</h4>
										<a href="https://api.whatsapp.com/send?phone=6281285774100&text=Ill%20take%20Bali%20deal" class="button sm">Get offer</a>
									</div>
								</div>
								<div class="sDeal-bottom">
									<h6><span>1 day activity</span>Tulamben, Bali</h6>
								</div>
							</div>
						</div><!-- .col -->
            <div class="col-md-4 col-sm-6">
							<div class="single-deal">
								<div class="sDeal-top">
									<img src="images/deals/2.jpg" alt="deals" />
									<ul>
										<li>2 dives</li>
										<li>meals and local transport included</li>
									</ul>
									<div class="sDeal-action">
										<h5>$100.00</h5>
										<h4>$55.00</h4>
										<a href="https://api.whatsapp.com/send?phone=6281285774100&text=Ill%20take%20Bali%20deal" class="button sm">Get offer</a>
									</div>
								</div>
								<div class="sDeal-bottom">
									<h6><span>1 day activity</span>Tulamben, Bali</h6>
								</div>
							</div>
						</div><!-- .col -->
            <div class="col-md-4 col-sm-6">
							<div class="single-deal">
								<div class="sDeal-top">
									<img src="images/deals/2.jpg" alt="deals" />
									<ul>
										<li>2 dives</li>
										<li>meals and local transport included</li>
									</ul>
									<div class="sDeal-action">
										<h5>$100.00</h5>
										<h4>$55.00</h4>
										<a href="https://api.whatsapp.com/send?phone=6281285774100&text=Ill%20take%20Bali%20deal" class="button sm">Get offer</a>
									</div>
								</div>
								<div class="sDeal-bottom">
									<h6><span>1 day activity</span>Tulamben, Bali</h6>
								</div>
							</div>
						</div><!-- .col -->
            <div class="col-md-4 col-sm-6">
							<div class="single-deal">
								<div class="sDeal-top">
									<img src="images/deals/2.jpg" alt="deals" />
									<ul>
										<li>2 dives</li>
										<li>meals and local transport included</li>
									</ul>
									<div class="sDeal-action">
										<h5>$100.00</h5>
										<h4>$55.00</h4>
										<a href="https://api.whatsapp.com/send?phone=6281285774100&text=Ill%20take%20Bali%20deal" class="button sm">Get offer</a>
									</div>
								</div>
								<div class="sDeal-bottom">
									<h6><span>1 day activity</span>Tulamben, Bali</h6>
								</div>
							</div>
						</div><!-- .col -->
					</div><!-- .row -->
				</div><!-- .deals-list -->
			</div><!-- .container -->
		</div><!-- .deals-section -->
