  <!-- Start .testimonials-section -->
		<div class="testimonials-section alt-bg" id="reviews">
			<div class="container">
				<div class="section-head">
					<div class="row text-center">
						<div class="col-md-12">
							<h4><span>Customer </span>Words</h4>
							<p class="lead">take it from our amaging customers</p>
						</div>
					</div>
				</div><!-- .section-head -->
				<div class="row testimonials-list">
					<div class="col-md-6 testimonial-item">
						<div class="single-testimonial video-testimonial">
							<img src="images/testimonials/video.jpg" alt="testimonials" />
							<div class="overlay">
								<a href="https://www.youtube.com/watch?v=4u03sXLDjMs" data-effect="mfp-3d-unfold" class="play-button embaded-popup">
									<span class="pb-border-1">
										<span class="pb-border-2">
											<i class="icofont icofont-ui-play"></i>
										</span>
									</span>
								</a><!-- .play-button -->
								<div class="client-info">
									<h5>Lawrence Duncan<small>Businessman, from Sydney</small></h5>
									<ul>
										<li><i class="icofont icofont-star"></i></li>
										<li><i class="icofont icofont-star"></i></li>
										<li><i class="icofont icofont-star"></i></li>
										<li><i class="icofont icofont-star"></i></li>
										<li><i class="icofont icofont-star"></i></li>
									</ul>
								</div>
							</div>
						</div>
					</div><!-- .col -->
					<div class="col-md-6 testimonial-item">
						<div class="single-testimonial">
							<div class="st-top">
								<div class="client-image">
									<img src="images/testimonials/1.jpg" alt="testimonials" />
								</div>
								<div class="client-info">
									<h5>Ardian<small>Chef, Indonesia</small></h5>
									<ul>
										<li><i class="icofont icofont-star"></i></li>
										<li><i class="icofont icofont-star"></i></li>
										<li><i class="icofont icofont-star"></i></li>
										<li><i class="icofont icofont-star"></i></li>
										<li><i class="icofont icofont-star"></i></li>
									</ul>
								</div>
							</div>
							<div class="st-bottom">
								<i class="icofont icofont-quote-left"></i>
								<blockquote>The first apps to accommodate diving trips, easy to use and have great potential in the future to explore more diving sites in Indonesia</blockquote>
							</div>
						</div>
					</div><!-- .col -->
					<div class="col-md-6 testimonial-item">
						<div class="single-testimonial">
							<div class="st-top">
								<div class="client-image">
									<img src="images/testimonials/3.jpg" alt="testimonials" />
								</div>
								<div class="client-info">
									<h5>Grace<small>Manager, Taiwan</small></h5>
									<ul>
										<li><i class="icofont icofont-star"></i></li>
										<li><i class="icofont icofont-star"></i></li>
										<li><i class="icofont icofont-star"></i></li>
										<li><i class="icofont icofont-star"></i></li>
										<li><i class="icofont icofont-star"></i></li>
									</ul>
								</div>
							</div>
							<div class="st-bottom">
								<i class="icofont icofont-quote-left"></i>
								<blockquote>It was a fascinating Padi Open Water course experience, with full experienced coach team who made the whole lesson more interesting and easy on hand, and the location “wreck liberty” for the very first dive is just amazing! Finally we got the license and in love with diving 😍</blockquote>
							</div>
						</div>
					</div><!-- .col -->
					<div class="col-md-6 testimonial-item">
						<div class="single-testimonial">
							<div class="st-top">
								<div class="client-image">
									<img src="images/testimonials/2.jpg" alt="testimonials" />
								</div>
								<div class="client-info">
									<h5>Ivan<small>Student, United Kingdom</small></h5>
									<ul>
										<li><i class="icofont icofont-star"></i></li>
										<li><i class="icofont icofont-star"></i></li>
										<li><i class="icofont icofont-star"></i></li>
										<li><i class="icofont icofont-star"></i></li>
									</ul>
								</div>
							</div>
							<div class="st-bottom">
								<i class="icofont icofont-quote-left"></i>
								<blockquote>The Eco-Trip encouraged us to actively care about the ocean. It was a great great trip and hope it could be a trailblazing movement for making our ocean clean.</blockquote>
							</div>
						</div>
					</div><!-- .col -->
				</div><!-- .row -->
			</div><!-- .container -->
		</div><!-- .testimonials-section -->
